{% extends 'adminmaster.html' %}
{% block content %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'adminpanel' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Total User List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>






    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Total User List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>user name</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Support</th>
                  <th>Registration</th>
                  <th>Action</th>

                </tr>
                </thead>
                <tbody>

                {% for i in total %}
                <tr>
                  <td>{{ i.username }}</td>
                  <td>{{ i.first_name }}</td>
                  <td>{{ i.email }}</td>
                  <td>{{ i.is_support }}</td>
                  <td>{{ i.is_status }}</td>
                  <td>
                    <a href="{% url 'edit_user' i.id %}"> <i class="material-icons">Edit User</i></a>

                  </td>
                </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->






     <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>
  <!-- /.content-wrapper -->



{% endblock %}