{% extends 'master.html' %}
{% block content %}


<!-- <?php include 'header.php'; ?> -->
    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-content">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li>404 Page</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End-->

    <!-- 404 Area start-->
    <div class="blank-page-area mtb-50px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blank-content-header">
                        <h1>The page you are looking for was not found.</h1>
                    </div>
                    <div class="page-not-found text-center">
                        <h4>Sorry For The Inconvenience.</h4>
                        <p>Search again what you are looking for</p>
                        <a href="/">Go To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 Area End-->
    <!-- <?php include 'footer.php'; ?> -->
{% endblock %}