{% extends 'master.html' %}
{% load static %}
{% block content %}


<!-- <?php include 'header.php'; ?> -->

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End-->
<!-- About Area Start -->
<section class="about-area mtb-50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-left-image mb-md-30px mb-lm-30px ">
                    <img src="http://endroid.in/endroid-beta/beta/assets/images/slider-image/about-us.jpg" alt="" class="img-responsive rounded" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="about-title">
                        <h2>Welcome To Endroid</h2>
                    </div>
                    <p class="mb-30px">
                    Endroid is a modern aged icon for security and safety. It assures the safe and secured environment for the users which ultimately results in peaceful mind. Our Smart solutions and artificial intelligence concepts provides the complete solution regarding the security and safety of our customers

                    </p>
                    <p>
                    With our cutting edge technology and deep R & D We are able to provide security products that are not only efficient but have pocket friendly prices too
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-50px">
        <div class="col-md-4">
                <div class="single-about">
                    <h4>Our Vision</h4>
                    <p>
                    We strive to become the most trusted partner in terms of quality, consistency, and up-gradation for the security services in this industry. For that tend to improve our expertise in technology and market. We strive to set the standards of encryption and safety for this rising industry in near future and make the trust of our clients our foundation.

                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-lm-30px">
                <div class="single-about">
                    <h4>Our Company</h4>
                    <p>
                    Established in 2008, DBS has been working for Domestic and Commercial Security Solutions.  Within the operational period, we thrived in the security industry through top-notch research and product development, and market study.  Right now with sheer dedication, we are providing sales, & Service support to our Dealer/Distributor network .

                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-lm-30px">
                <div class="single-about">
                    <h4>Our Team</h4>
                    <p>
                    we have professional sales and service team , our service team provide online support to our channel partners and hardware repair team is capable to make chip level repairing .  We have strong R and D Team and our new developed products are symbol of there success
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- About Area End -->
<!-- <?php include 'footer.php'; ?> -->
{% endblock %}