{% extends 'master.html' %}
{% block content %}


<!-- <?php include 'header.php'; ?> -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li>We Are Hiring</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container py-5">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="py-3">We Are Hiring</h2>
        </div>
    </div>
</div>

<!-- <?php include 'footer.php'; ?> -->

{% endblock %}