{% extends 'master.html' %}
{% block content %}


<!-- <?php include 'header.php'; ?> -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li>privacy policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container py-5">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="py-3">privacy policy</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim impedit totam ipsam? Voluptas dolor nesciunt similique neque ex, ducimus dolorem doloremque dolores aspernatur. Harum odit illo minima maxime, itaque delectus quis officia asperiores sequi impedit vero atque molestias suscipit esse consequuntur pariatur vitae deleniti nulla culpa. Necessitatibus hic facilis quas. A dicta tenetur amet consectetur. Totam cum magni, vero explicabo corporis natus mollitia impedit, at rerum itaque atque quibusdam voluptatum nihil corrupti voluptatibus et minima molestiae molestias nesciunt excepturi animi debitis! Non, doloribus voluptas. Laborum molestias mollitia molestiae, ullam possimus numquam beatae magnam repudiandae ducimus ab commodi qui sed libero.</p>
        </div>
    </div>
</div>

<!-- <?php include 'footer.php'; ?> -->

{% endblock %}